/* Styling for orbits.html, currently only canvas elements */

#bgcanvas {
	z-index: 0;
}

#fgcanvas {
	z-index: 1;
}

.canvas {
	position: absolute;
	left: 10px;
	top: 10px;
	border:1px solid #404040;
}

