/* Styling for orbits.html, currently only canvas elements */

body {
	font-size: 100%;
	background-color: #808080;
}

input {
	background-color: #c0c0c0;
}

#fgorbitn, #fgorbitgr, #tracks, #bgorbit {
	left: 411px;
	top: 10px;
}

#fgpotn, #bgpotn {
	left: 10px;
	top: 411px;
}

#fgpotgr, #bgpotgr {
	left: 10px;
	top: 611px;
}

.bg {
	z-index: -1;
}

.tracks {
	z-index: 0;
}

.fgn {
	z-index: 1;
}

.fggr {
	z-index: 2;
}

.canvas {
	position: absolute;
	border: 1px solid #404040;
}

.newton {
	color: #00ff00;
}

.gr {
	color: #0000ff;
}

