/* Styling for orbits.html, currently only canvas elements */

.bg {
	z-index: 0;
}

.fg {
	z-index: 1;
}

.canvas {
	position: absolute;
	border: 1px solid #404040;
}

.orbit {
	left: 310px;
	top: 10px;
}

.timedisplay {
	left: 10px;
	top: 10px;
}

.potentialn {
	left: 10px;
	top: 110px;
}

.potentialgr {
	left: 10px;
	top: 310px;
}


